.login {
  background-image: url(../assets/fondo-login.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.login .logIn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 15px;
  background: rgba(160, 162, 159, 0.26);
  width: 20%;
  padding: 20px;
  margin-right: 200px;
  margin-top: 7%;
}

.login .logIn .logo-imax {
  width: 90%;
  margin: 20px;
}

.login .logIn .formulary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login .logIn .formulary .box-user {
  margin: 10px;
  height: 30px;
  width: 90%;
  border-radius: 25px;
  border: 2px solid #23B6B6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login .logIn .formulary .box-user .user {
  color: #0C0B2D;
  font-size: 15px;
  background-color: transparent;
  padding-left: 10px;
  height: 100%;
  width: 100%;
  border: 0;
  border-left: 1px solid #23B6B6;
  outline: none;
}

.login .logIn .formulary .box-user .user-icon {
  font-size: 1.2rem;
  color: #afafaf;
  margin: 0 10px;
}

.login .logIn .formulary .btn-login {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
  margin: 15px;
  background-color: #00AFEF;
  height: 40px;
  width: 60%;
  border-radius: 25px;
  border: 0;
}

.login .logIn p {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  font-size: 15px;
  color: #0C0B2D;
  font-family: 'Roboto', sans-serif;
}

.form-register {
  background-image: url(../assets/fondo-login.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.form-register .box-register {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 15px;
  background: rgba(160, 162, 159, 0.26);
  width: 20%;
  padding: 20px;
  margin-right: 200px;
  margin-top: 5%;
}

.form-register .box-register .logo-imax {
  width: 90%;
  margin: 20px;
}

.form-register .box-register .formulary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-register .box-register .formulary .box-user {
  margin: 10px;
  height: 30px;
  width: 90%;
  border-radius: 25px;
  border: 2px solid #23B6B6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-register .box-register .formulary .box-user .user {
  color: #0C0B2D;
  font-size: 15px;
  background-color: transparent;
  padding-left: 10px;
  height: 100%;
  width: 100%;
  border: 0;
  border-left: 1px solid #23B6B6;
  outline: none;
}

.form-register .box-register .formulary .box-user .user-icon {
  font-size: 1.2rem;
  color: #afafaf;
  margin: 0 10px;
}

.form-register .box-register .formulary .btn-register {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
  margin: 15px;
  background-color: #00AFEF;
  height: 40px;
  width: 60%;
  border-radius: 25px;
  border: 0;
}

.form-register .box-register p {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  font-size: 15px;
  color: #0C0B2D;
  font-family: 'Roboto', sans-serif;
}

header {
  background: #225075;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

header .logo-imax {
  margin-left: 20px;
}

header .menubar {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 500px;
}

header nav a {
  padding: 20px;
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

header nav a:hover {
  background: rgba(196, 196, 196, 0.78);
}

.box-body {
  background-image: url(../assets/fondo-home.jpg);
  height: 90vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box-body .presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Roboto', sans-serif;
  background: rgba(0, 0, 0, 0.55);
  width: 40%;
  height: 40%;
  padding: 15px 30px;
}

.box-body .presentation .title {
  color: #008FF1;
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 10px;
}

.box-body .presentation .paragraph {
  color: #ffffff;
  font-weight: 200;
}

.box-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 9px;
  background: rgba(244, 255, 251, 0.71);
  width: 28%;
  height: 60%;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 30px;
}

.box-profile .title {
  font-size: 25px;
  font-weight: 400;
  margin: 10px;
}

.box-profile .box-user {
  width: 90%;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  font-weight: 500;
}

.box-profile .box-user label {
  margin-right: 10px;
}

.box-profile .box-user input, .box-profile .box-user select {
  border-radius: 5px;
  border: solid 2px #23B6B6;
  width: 70%;
  height: 30px;
}

.box-profile .box-btn {
  width: 90%;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.box-profile .box-btn .btn-guardar, .box-profile .box-btn .btn-cancelar {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 15px;
  background-color: #009AD2;
  height: 35px;
  width: 30%;
  border-radius: 5px;
  border: 0;
}

* {
  margin: 0;
  padding: 0;
}
/*# sourceMappingURL=style.css.map */